@font-face {
    font-family: 'Circe';
    src: url('../font/Circe-Bold.woff2') format('woff2'),
        url('../font/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../font/Circe-Regular.woff2') format('woff2'),
        url('../font/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
